fastapi>=0.68.0,<0.70.0
uvicorn>=0.15.0,<0.16.0
sqlalchemy>=1.4.0,<2.0.0
python-multipart>=0.0.5
mysql-connector-python>=8.0.0
spacy>=3.0.0,<4.0.0
unidecode
langchain>=0.2.0,<0.3.0
sentence_transformers
pypdf
python-dotenv
openai
requests
pydantic
pymupdf